.Ryourshop{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(234, 237, 237);
    height: 1000px;
    justify-items: left;
    width: 100%;
}


.Ryourshop__ad{
    
    left: 25%;
    width: 800px;
    margin-bottom: 10px;
    height: 400px;
}

.Ryourshop__save{
    border: 2px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    margin-right: 20px;
}

.Ryourshop__save:hover{
    border: 1px solid red;
    cursor: pointer;
    color: red;
    background-color: white;
}

.Ryourshop__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}