.checkoutProduct{
    display: flex;
    margin: 20px 0;
    background-color: rgb(234, 237, 237);
}

.checkoutProduct__image{
    background-color: rgb(234, 237, 237);
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info{
    background-color: rgb(234, 237, 237);
    width: 100%;
    padding-left: 20px;
}

.checkoutProduct__title{
    background-color: rgb(234, 237, 237);
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__rating{
    background-color: rgb(234, 237, 237);
    display: flex;
}